{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/naming-convention": [
      "error",

      // interfaces must start with "I" prefix
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^(I)[A-Z]",
          "match": true
        }
      },

      // type-aliases must start with "T" prefix
      {
        "selector": "typeAlias",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^(T)[A-Z]",
          "match": true
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  }
}
